@import url(fonts/vazir-fonts/fonts.css);

body {
  margin: 0;
  font-family: Vazir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:Vazir, source-code-pro,
  Menlo,
  Monaco,
  Consolas,
  'Courier New',
    monospace;
}
