.footer{
    position: static;
    color:#fff;
    background-color: #0a3c7c;
    margin: 0;
    padding: 10px 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.footer p{
    margin: 0;
}

.footer-icon{
    margin-right: auto;
}

.footer-icon a{
    color: white !important;
}

.footer-icon span{
    height: 32px;
    width: 32px;
    display: inline-block;
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
    position: relative;
    padding: 6px 0px 7px;
}
.footer-icon i{
    height:1.2em !important;
    font-size: 1.7rem;
}
