header{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid #0086E1;
    color:#0086E1;
    padding: 5px 6%;
    position: sticky;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    top: 0;
    z-index: 2;
}

.brand{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0 10px 0px 0px;
}

.nav-links li{
    display: inline-block;
    padding: 10px 10px;
}

.nav-links li a{
    color: #0086E1;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #ffa500;
}


button.logout-button {
    margin-right: auto;
    background-color: white;
    border: none;
    color: #e67451;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: inline;
    position: relative;
    top: -4px;
}


button.logout-button i{
    display: inline-block;
    height: 16px;
    width: 16px;
    padding: 5px 0px 0px;
    position: absolute;
    left: -33%;
    top: -10%;
}

button.logout-button:hover {
    color: #c35817;
    text-decoration: none;
}

.btn{
    padding: .375rem 1.75rem;
}

h5.modal-body{
    text-align: right;
}

@media all and (max-width: 500px) {
    .header {
        flex-direction: column;
    }
    .brand {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
    .nav-links{
        display: none;
    }
}

