.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.555)), url('images/cover_photo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-color: rgba(194, 245, 136, 0.548);
    min-height: 40vh;
    width: 100%;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.555)), url('images/cover_photo3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-color: rgba(194, 245, 136, 0.548);
    min-height: 40vh;
    width: 100%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

.row {
    flex-shrink: 0;
}

.profile-size{
    max-height:70vh;
}
._content {
    flex: 1 0 auto;
}

._content-flex {
    display: flex;
}

.user-picture{
    border: 2px solid #1fa5ff;
    border-radius: 20rem;
}

.user-picture img{
    width:150px;
    height:150px;
    clip-path: circle(50% at 50% 50%);
}

.content-vertically-center {
    flex-direction: column;
    align-items:center;
}

.content-flex p{
    font-weight: 500;
}

.content-flex span{
    font-weight: 700;
}

.semester{
    display: flex;
    align-items:center;
    position: relative;
    border: 2px solid #0087e0;
    margin: 60px 25px 5px 5px;
    padding: 10px;
    padding-bottom: 8px;
    z-index: 0;
    overflow: visible;
    width: 80%; 
    flex-direction: column;
    

}

.absolute-top-left{   
    width: 150px;
}

.units{
    padding: 2.5px 5px 2.5px 5px;
    justify-content:space-between;
    align-items:center;
    /* margin: 0 auto; */
    width: 95%;
    flex: 1;
}

.units div{
    padding:10px 10px;
    height: 45px;
    display: inline-block;
    /* overflow-x:hidden; */
}

.units div:nth-child(2), .units div:nth-child(3), .units div:nth-child(5){
    flex-grow: 2;
}

.units div:has(p){ 
    font-size: smaller; 
    border-right: 0px;
    
}

.units div p, .units div h6{
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.units div:nth-child(3) p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:400;
}

.units div:nth-child(2) p{
    /* padding: 5px; */
    direction: ltr;
}

.units div h6{
    line-height:25px;
    font-weight: 900;
}



.units div:first-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* .units div:nth-child(2) {
    max-width: 18%;
} */

.units div:nth-child(1) {
    /* padding: 5px; */
    width: 6%;
}

.units div:nth-child(2) {
    /* padding: 5px; */
    min-width:20%;
    max-width: 20%;
}

.units div:nth-child(3){
    /* padding: 5px; */
    min-width: 30%;
    max-width: 30%;
}

.units div:nth-child(4) {
    width: 10%;
}

.units div:nth-child(5) {
    width: 15%;
}

.units div:nth-child(6){
    width: 14%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.units div:nth-child(6) p{
    font-weight: 700;
}

.units div:nth-child(5){
    padding: 2px 4px;
}

.units div:nth-child(5) p{
    border-radius: 4px;
    padding: 0px 2rem;
    margin-top: 5px;
}

.average{
    align-self: flex-end;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 3%;
}

.modal{
     background: rgba(0, 0, 0, .6);
}

.modal-dialog{
        /* position: fixed; */
        /* right: 50%; */
        top: 10rem;
}


.modal .modal-header, .modal .modal-footer{
    border: 0;
}

.modal button{
    padding: 5px 30px;
}

.modal button:last-child{
    background-color: #06d6a0;
    color: white;
}


@media all and (max-width: 995px){
    .absolute-top-left{
        width:100px;
        right: 40px;
    }
    p{
        font-size:smaller;
        text-align: center;

    }
    
    .semester{
        width: 95%;
    }

    .units{
        width: 97%;
    }

    .units div p {
        font-weight: 300;
    }
    .units div{
        padding: 8px;
    }

    .units div h6{
        font-size: small;
        line-height: 20px;
    }

    .units div:nth-child(5) p {
        border-radius: 4px;
        padding: 0px 1rem;
        margin-top: 5px;
    }

    .average {
        float: left;
        border-radius: 3px;
        margin-top: 10px;
        margin-left: 2%;
        padding: 4px 10px !important;
    }


}

@media all and (max-width: 575px){
    p .scrollable{
        overflow: auto;
    }
}