html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    /* position: relative; */
}


.signup-login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 0%;
    margin-right: -92.0%;
    background: linear-gradient(to right, #edbb41 50%, #f05837 50%);
    border-radius: 4.5rem;
    padding: 3%;
}

.reset-form-logo img{
    position: absolute;
    width: 20%;
    margin-top: -37%;
    margin-right: -47.0%; 
    background: linear-gradient(to top, #55ed41 50%, #24e024 70%);
    border-radius: 4.5rem;
    border-width: 0;
    padding: 1.5%;
}

#signupInfo div.modal-header span{
    cursor: pointer;
}


.signup-login-container{
    margin-top: 15%;
    display: flex;
    flex: 1 0 auto;
}
.center {
    /* position: relative; */
    flex-grow: 1;
    flex-shrink: 0;
    align-self: center;
}

.reset-form{
    padding: 9%;
    border-radius: 25px;
    background:#55ed41;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 9px 26px 0 rgba(0, 0, 0, 0.19);

}
.login-form{
    padding: 9%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background:#EDBB41;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3, .signup-form h3, .reset-form h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.signup-form{
    position: relative; /*added this for logo*/
    padding: 9%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #f05837;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}



.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    float: right;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}

