
.schedule {
    padding: 70px 70px;
    margin-bottom: 4.3%;
    overflow: scroll;
}

a , a:visited{
    color: black
}

a:active{
    color: #1fa5ff;
}


.table-caption {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}


.pair {
    display: flex;
    margin-right: 20px;
    justify-content: flex-start;
}

.pair + div{
    margin-left: 20px;
}

/* .pair .pair-key{

} */

.pair .pair-value {
    padding-right: 10px;
}


.flaticon-calendar {
    color: #1FA5FF;
    font-size: 25px;
}

.box {
    border: 2px solid #1FA5FF;
    text-align: center;
    padding:0px 15px;
    /* max-height: 70vh; */
    /* max-width: 80vw; */
}

.round-border {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topless {
    border-top: 0px;
}

.big-box {
    padding-top: 18px;
}

.cell, .time, .day{
    position: relative;
    padding: 20px 10px;
    border: 0.5px solid #0000003a;
    width: 16.7%;
    border-collapse: collapse;
    height: 66px;
    overflow: visible;
}


.l2r {
    direction: ltr;
}

.r2l {
    direction: rtl !important;
}

.day{
    display: block;
}

.time span:first-child{
    display: block;
}

.time span:last-child{
    display: none;
}

.unit{
    position: absolute;
    /* margin: -2% auto 0; */
    top: -2%;
    left: 0;
    padding: 10px;
    z-index: 2;
    margin: 5px 2px 5px 7px;
    border-radius: 1rem;
    white-space: nowrap;
    overflow: hidden;
}


.unit span{
    margin: 2px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.half{
    position: absolute;
    top: 50%;
}

.Asli{
    background-color: #ff595f86;

    border: 0.5px solid #ff595f86;
    border-right: 10px solid #ff595f;
}

.Takhasosi{
    background-color: #1fa5ff86;

    border: 0.5px solid #1fa5ff86;
    border-right: 10px solid #1fa5ff;
}

.Paaye{
    background-color: #06d6a086;

    border: 0.5px solid #06d6a086;
    border-right: 10px solid #06d6a0;
}

.Umumi{
    background-color: #edbb4186;

    border: 0.5px solid #edbb4186;
    border-right: 10px solid #edbb41;
}


._1{
    height: 90%;
    width: 95%;
    padding: 0;
}

._1-5 {
    height: 140%;
    width: 95%;
}

._2 {
    line-height: 2;
    height: 190%;
    width: 95%;
}

._3{
    
    line-height: 2;
    height: 295%;
    width: 95%;
    padding: 35px 0px;
}

._3 .h6{
    padding: 10px 0px;
}


@media all and (max-width: 1400px){
    .schedule{
        padding: 40px 20px;
        /* margin-bottom: 35.3%; */
    }
    .cell, .time, .day{
        font-size: smaller;
        padding: 10px 10px;
        /* line-height: 3; */
    }
    .time, .day{
        line-height: 3;
    }

    /* .unit h6, .unit p{
        font-size: small;
    } */
}

@media all and (max-width: 1125px){
    .time span:first-child {
        display: none;
    }

    .time span:last-child {
        display: block;
        width: 100%;
    }

    .unit {
        /* margin: -2% auto 0; */
        top: -2%;
        left: 0;
        /* padding: 10px; */
        margin: 5px 4px 5px 4px;

        border-radius: 1rem;
    }

    .half {
        position: absolute;
        top: 50%;
    }

    .Asli {
        border-right: 5px solid #ff595f;
    }

    .Takhasosi {
        border-right: 5px solid #1fa5ff;
    }

    .Paaye {
        border-right: 5px solid #06d6a0;
    }

    .Umumi {
        border-right: 5px solid #edbb41;
    }

    ._3 {

        line-height: 2;
        height: 295%;
        width: 95%;
        padding: 55px 0px;
    }

    ._3 .h6 {
        padding: 0px;
    }

    .h6 {
        display: block;
        font-weight: 900;
        font-size: small;
    }

    

}

@media all and (max-width: 740px){
    .time span:last-child{
        transform: rotate(90deg);
    }
    .time, .day{
        padding: 0px 4px;
        line-height: 4;
    }

    .h6 {
        display: block;
        font-weight: 400;
        font-size: smaller;
    }

    ._3 {

        line-height: 2;
        height: 295%;
        width: 95%;
        padding: 30px 0px;
    }

    ._1-5{
        line-height: 3;
    }

}

@media all and (max-width: 615px) {
    /* #modals div{
        display: none;
    } */

    .schedule {
        padding: 5px 3px;
        font-size: x-small;
    }

    .time span:last-child {
        transform: rotate(90deg);
    }

    .day span{
        transform: rotate(90deg);
    }

    .cell, .day, .time{
        height: 40px;
        line-height: 4;
        /* padding: 10px; */
        max-width: 16.60%;
        /* width: 16.7%; */
        /* width:10%; */
    }

    .unit{
        margin: 3px 3px 3px 1px;
        /* padding: 3px; */
        /* line-height: 2; */
        /* overflow: scroll; */
        /* flex-flow: column-reverse; */
    }

    .time{
        padding: 0px 1px;
    }

    .unit span{
        margin: 0;
    }

    .asli {
        border-right: 3px solid #ff595f;
    }

    .ekhtesasi {
        border-right: 3px solid #1fa5ff;
    }

    .paye {
        border-right: 3px solid #06d6a0;
    }

    .omome {
        border-right: 3px solid #edbb41;
    }

    ._1-5{
        padding: 0 6px;
    }

    .h6{
        margin: 0;
        /* display: block; */
    }


    .flaticon-calendar{
        font-size: 16px;
    }

    .big-box{
        padding-top: 10px;
    }

}

@media all and (max-width: 575px){
    #modals div:before {
        content: "";
        display: none;
    }

    #modals div:target {
        display: block;

    }


    .modal-dialog {
        /* background: #fefefe; */
        border: gray solid 1px;
        border-radius: 5px;
        /* margin-left: -200px; */
        position: absolute;
        left: -2%;
        top: 0%;
        /* margin: 0 5px; */
        z-index: 11;
        width: 100%;
        /* transform: translateY(20px);
        transition: all 2s ease-out; */
        /* transform: translateY(5px); */
    }

    .modal-header {
        padding: 5px 1rem;
    }

    .modal-body {
        text-align: center;
    }
}