.content{
    font-size: smaller;
    display:flex;
    flex-direction:column;
}

.absolute-top-left{
    padding: 4px 20px;
    right: 30px;
}

.absolute-top-left + div{
    margin-top: 6px;
}


.delete-icon{
    font-size: 20px;
}

.box-wrapper{
    position: relative;
    overflow: visible;
    width: 100%;

    padding: 15px 30px 0px;
    margin: 30px 0px 0px;

    border-bottom: 0px;
    /* border-radius: 10px 10px 0px 0px; */

}


.bottom-borderless{
    border-bottom: 0px;
}


.selected-courses{
    height: 200px; 
}

.selected-courses-table{
    height: 170px;
    margin-top: 13px;
    overflow-y: scroll;
    
}


.table-caption{
    padding-right: 15px;
    padding-left:  15px;

    margin-left:  20px;
    margin-right: 0px;
    
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-radius: 0px 0px 10px 10px; */
}

.finalize-button{
    padding: 6px 44px;
    margin: 10px;
    /* width: 150px; */

    background-color: #06d6a7;
    border-radius: 5px;

    /* to center */
    display: flex; 
    flex-direction: column;

    justify-content: center;
    align-content: center;
}

.finalize-button p{
    text-align: center;
}

.num-of-selected-units{

    padding: 10px;
    margin: 10px;

    /* to center */
    display: flex; 
    flex-direction: column;

    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 17px;
    /* color: #0087e0; */
}


.refresh-button{
    padding: 10px;
    margin-top: 10px;
    position: relative;

    background-color: gray;
    border-radius: 5px;
    font-size: 20px;
    
    width: 43px;
    height: 43px;
}

.refresh-button-icon{
    position: absolute;
    
    top: 25%; 
    /* to center */
    left: 25%;
}

.pair{
    display: flex;
    justify-content: flex-start;

}

.searchBox{
    margin: 30px 0px;
}

.searchBox div:nth-child(2){
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.search-box button{
    margin: 0px 5px 0px 5px;
    background-color:#06d6a7;
    border: 0;
    position: relative;
    width: 20%;
    /* line-height: 2; */
}

.search-box button span{
    color: white;
}

.search-box button span i{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 34%;
    font-size: 17px;
    /* line-height: 2; */
    margin: 0px 10px;
}

.search-box input{
    color: gray;
    text-align: center;
    padding: 0.5rem;
    background-color: #8080803b;
    border: 1px solid gray;
    margin: 0px 10px;
}
/* .center{
    align-self: center;
} */


    
table.table-bordered,
table.table-bordered > thead > tr > th,
table.table-bordered > tbody > tr > td,
table.table-bordered > tbody > tr > th{
    border:1px solid rgba(128, 128, 128, 0.253);
}

.round-borders{
    border-radius: 5px;
}

td, th{
    text-align: center;
    color: gray;   
}

td{
    /* line-height: 2.1; */
    padding: 0.3rem !important;
}

th{
    font-size: 17px;
}

th,
.num-units{
    color: #1a4c89;
    font-weight: 900;
}

p{
    margin-bottom: 0; /* added this so texts can be verticaly aligned */
}

.finalized-course{
    border-radius: 5px;
    border: 0.5px solid #28a74688;
    padding: 3px;
}
.finalized-course p{
    color: #28a745;
    font-weight: 600;
}
.non-finlaized-course{
    border-radius: 5px;
    border: 0.5px solid #0087e0;
    padding: 3px;
}
.non-finlaized-course p{
    color: #0087e0;
    font-weight: 600;
}
.waiting-course{
    border-radius: 5px;
    border: 0.5px solid gray;
    padding: 3px;
}
.waiting-course p{
    color: gray;
    font-weight: 600;
}

.courses {
    flex-grow: 2;
    margin: 10px 0px 0px;
    padding-left: 0;
    padding-right: 0;
}

.courses-table {
    width: 100%;
    height: 50vh;
    /* margin-top: 13px; */
    overflow-y: scroll;
}

.courses-table .table thead th {
    border-width: 0.5px 0px;
    border-color: #0087e0;
}

.courses-table td{
    line-height: 2.3;
    position: relative;
    overflow-y: visible;
    border-top: 0;
    font-size:small;

    /* border-color: rgba(128, 128, 128, 0.253) !important; */
}

.courses-table .table tbody tr > td:last-child{
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

.courses-table .table tbody tr>td:first-child {
    border-right: 0;
}

.course-table .table tbody tr > td:active{
    border: 1px solid #0087e0 !important;
    border-right-width: 3px;
}



.content-flex {
    justify-content: space-around;
}

.filter{
    padding:20px 0px;
    color: gray;
    font-weight: 900;
    font-size: 17px;
}

.filter div{
    padding:5px 40px;
    border-radius: 10px;
}


.selected{
    background-color: rgba(42, 183, 248, 0.534);
    border-color: rgba(42, 183, 248, 0.534);
}

.non-selected{
    border: 0.5px solid rgba(128, 128, 128, 0.534);   
}

div.callout {
    position: absolute;
    padding: 10px;
    margin: -10px 5px;
    border-radius: 3px;
    border: 0.5px solid rgba(128, 128, 128, 0.253);
}

.callout::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
}

.callout.left::before {
    right: -20px;
    top: 5%;
    border-left: 10px solid rgba(128, 128, 128, 0.253);
}

.icon{
    padding: 5px 7px 1px 7px;
    border-radius: 4px;
}

.not-full{
    color: white;
    background-color: #28a745;
}

.full{
    color: white;
    background-color: gray;
}

.unitType{
    color: white;
    padding: 0px 7px;
    border-radius: 7px;
    width: 100%;
}

.omomi{
    background-color:#edbb41;
}

.asli{
    background-color: #06d6a7;
    padding: 0px 14px;
}

.paye{
    background-color: #ff5953;
    padding: 0px 16px;
}

.takhasosi{
    background-color: #1fa5ff;
    /* padding: 0px 16px; */
}

.fulled{
    color: gray;
    font-weight: 900;
}

.highlighted{
    border-top: 2px solid #0087e0 !important;
    border-bottom: 2px solid #0087e0 !important;
    /* border-right: 10px solid #0087e0 !important; */
}

tr td.highlighted:first-child{
    border-right: 10px solid #0087e0 !important;
}

.callout span .h6:first-child{
    padding: 10px;
    border-top: 2px solid rgba(128, 128, 128, 0.253);

}

