@import url(../fonts/vazir-fonts/fonts.css);

html, body{
    font-family: Vazir;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.h6{
    display: block;
    font-weight: 800;
}

.content {
    flex: 1 0 auto;
}

a:hover {
    text-decoration: none;
}

.content-flex {
    display:flex;
}

.radius-3 {
    border-radius: 3px;
}

.radius-10{
    border-radius: 10px;
}

.radius-top{
    border-radius: 5px 5px 0px 0px;
}

.radius-bottom{
    border-radius: 0px 0px 5px 5px;
}


.border-right{
    border-right: 4px solid #137cc2;
}

.border-blue{
    border: 1px solid #007BFF;
}

.border-dark-blue {
    border: 1px solid #1a4c89;
}

.border-light-blue{
    border: 2px solid #1fa5ff;
}

.color-light-blue {
    color:#1fa5ff;
}

.border-green{
    border: 0.5px solid #28a745;
}

.border-red {
    border: 0.5px solid #ff595e
}

.border-gray{
    border: 0.5px solid gray;
}

.color-blue {
    color:#0087e0
}

.color-dark-blue {
   color: #1a4c89;
}

.color-white {
    color: white;
}

.color-green{
    color: #28a745;
}

/* .color-light-gray{
    color: rgb(180, 180, 180);
} */

.color-red{
    color: #ff595e;
}

.color-gray{
    color: gray;
}


.background-green{
    background-color: #28a74546;
    border: 0.5px solid #28a74688;
}

.background-red{
    background-color: #ff595e46;
    border: 0.5px solid #ff595e88;
}

.background-gray{
    background-color: #80808046;
    border: 0.5px solid #80808088;
}

.background-blue{
    background-color: #0087e0;
    border: 0.5px solid #0086e094;
}

.background-light-blue{
    background-color: #1fa5ff;
    border: 0.5px solid #1fa5ff;
}

.round-borders{
    border-radius: 25px;
}



.absolute-top-left{
    position: absolute;
    top: -15px;
    right: 60px;
    z-index:2;
    text-align:center;
    color: white;
    background-color:#0087e0;
    z-index: 1;
}

.scrollable{
    overflow-y:scroll;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

.no-overflow{
    overflow: hidden;
}
